body {
    background-color:black;
    color:white;
}    
header, main, nav, footer {
    text-align: center;
}

article {
    outline: #00FF00 dotted thick;
}

article {
    text-align: left;
}

article {
    font-size: 150%;
}

#summary {
    text-align: left;
}

#summary {
    font-size: 150%;
}

.h {
    text-align: center;
}

cite {
    color: white;
}

cite {
    text-decoration: none;
}

nav a { 
    padding:15px;
    padding-bottom:4px;
}

nav a {
    font-size: 1.8em;
}

nav a {
    color:white;
}

nav a {
    font-family: 'Pacifico', cursive;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

header a {
    font-family: 'Pacifico', cursive;
    font-size: 125%;
}

header a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

img {
    height: auto;
}

h2 {
    text-decoration: underline;
}

/*
    CSS:
    max-width
    height
    outline
    
    HTML:
    article
    cite
*/